nav ul>li {
    display: flex;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
}

nav ul>li>a.active {
    color: white !important;
}

nav ul>li>a {
    color: #aaa !important;
}

nav ul>li>a:hover {
    color: white !important;
}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .mid-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -10px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .mid-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 10px;
    transform: rotate(0deg);
}

.gymPhotos img {
    scale: 1;
    transition: .3s ease-in-out;
}

.gymPhotos img:hover {
    scale: 1.1;
    transition: .5s ease-in-out;
}

.mobileApp {
    object-fit: contain;
    width: auto;
    height: 350px;
}