/* GLOBAL */

nav ul>li {
    display: flex;
    justify-content: center;
    font-family: 'Barlow', sans-serif;
}

nav ul>li>a.active {
    color: white !important;
}

nav ul>li>a {
    color: #aaa !important;
}

nav ul>li>a:hover {
    color: white !important;
}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .mid-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -10px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .mid-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 10px;
    transform: rotate(0deg);
}

.text-green {
    color: #54E02D !important;
}

/* GLOBAL */

/* INDEX PAGE */

.gymPhotos img {
    scale: 1;
    transition: .3s ease-in-out;
}

.gymPhotos img:hover {
    scale: 1.05;
    transition: .5s ease-in-out;
}

.mobileApp {
    object-fit: contain;
    width: auto;
    height: 350px;
}

h2 span {
    color: #54E02D;
}

.newsLink {
    margin: 0;
    padding: 0;
    overflow: hidden;
    transition: .5s ease-in-out;
    box-shadow: 0 0 20px black;
}

.newsLink img {
    transition: .5s ease-in-out;
}

.newsLink:hover {
    border-radius: 10%;
    transform: rotate(-2deg);
    box-shadow: 0 0 20px #555;
}

.newsLink:hover + p {
    text-shadow: 0 0 2px #555;
}

.newsLink + p:hover {
    text-shadow: 0 0 2px #555;
}

.newsLink:hover img {
    scale: 1.05;
    height: 100%;
}
/* INDEX PAGE */

/* LOGİN PAGE */
.loginBody {
    background-color: #555;
}

.form-control:focus {
    background-color: #111;
    border-color: #555 !important;
    box-shadow: 0 0 10px white;
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover, 
.form-control:-webkit-autofill:focus, 
.form-control:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #222 inset !important;
    -webkit-text-fill-color: rgb(214, 214, 214);
}

.form-label {
    color: white;
}

.form-floating>.form-control:focus~label {
    color: #54E02D;
}

.form-floating>.form-control:focus~label::after {
    background-color: transparent !important;
}

.form-floating>.form-control:not(:placeholder-shown)~label {
    color: #54E02D;
}

.form-floating>.form-control:not(:placeholder-shown)~label::after {
    background-color: transparent !important;
}

.form-checkbox {
    color: white;
}

.form-checkbox:focus {
    box-shadow: 0 0 2px white;
    border-color: #54E02D;
}

.form-checkbox:checked {
    border-color: #54E02D;
    background-color: #54E02D;
}

.form-control {
    background-color: #111;
    color: white !important;
}

.form-button, .form-button-register, .form-button:hover, .form-button-register:hover {
    font-weight: 600;
    font-size: 20px;
}

.form-button-register {
    background-color: rgb(146, 146, 146);
    color: white;
}

.form-button-register:hover {
    background-color: #444;
    color: white;
    box-shadow: 0 0 5px white;
}

.form-button {
    background-color: #54E02D;
    color: white;
}

.form-button:hover {
    color: white;
    background-color: #26860b;
    box-shadow: 0 0 5px white;
}

.faq h2 {
    color: #aaa;
}

.faq a {
    font-size: 20px;
    color: #ddd;
    text-decoration: none;
}

.faq a:hover {
    color: #aaa;
}
